<section class="section about-section" id="about">
  <div class="container about-container">
    <div class="about-text-container">
      <p class="about-text">
        <span class="about-text-accent">Yacht Adventures</span>
        fleet is here to take you on the ultimate adventure. Each yacht is
        hand-picked for its comfort, style, and performance.
      </p>
      <ul class="about-description-list">
        <!-- 1 -->
        <li class="about-description-item">
          <p class="about-description-text">
            From spacious decks to state-of-the-art technology, our yachts are
            designed to provide the perfect blend of luxury and functionality.
            Take a look at our selection below and choose the yacht that matches
            your needs and preferences.
          </p>
        </li>
        <!-- 2 -->
        <li class="about-description-item">
          <p class="about-description-text">
            No matter which yacht you choose, our experienced crew will ensure
            that your journey is smooth and enjoyable. Book now and get ready
            for an unforgettable adventure on the high seas.
          </p>
        </li>
      </ul>
    </div>

    <!-- Images -->
    <ul class="about-picture-list">
      <!-- 1 -->
      <li class="about-picture-item">
        <picture class="about-picture about-pic1">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about/yaht-img01-desktop@1x.webp 1x,
              ./img/about/yaht-img01-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/yaht-yaht-img01-tablet@1x.webp 1x,
              ./img/about/yaht-yaht-img01-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/about/yaht-img01@1x.webp 1x,
              ./img/about/yaht-img01@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="about-picture-image"
            src="./img/about/yaht-img01.webp"
            alt="View from the deck of the yacht to the sea"
          />
        </picture>
      </li>

      <!-- 2 -->
      <li class="about-picture-item">
        <picture class="about-picture about-pic2">
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/yaht-img02-desk-tablet@1x.webp 1x,
              ./img/about/yaht-img02-desk-tablet@1x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/about/yaht-img02@1x.webp 1x,
              ./img/about/yaht-img02@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="about-picture-image"
            src="./img/about/yaht-img02.webp"
            alt="Photo of the interior of the yacht"
          />
        </picture>
      </li>
    </ul>
    <!-- 3 -->
    <img
      class="about-image3"
      srcset="
        ./img/about/yaht-img03@1x.webp 1x,
        ./img/about/yaht-img03@2x.webp 2x
      "
      src="./img/about/yaht-img03.webp"
      alt="Yacht on the water"
      width="260"
      height="244"
    />
  </div>
</section>
