<header class="header-main">
  <div class="container header-div">
    <div class="mobail-div-two">
      <nav class="header-nav">
        <a class="header-logo" href="./index.html">
          <img
            class="header-img"
            src="./img/header img/Yacht Adventures2/fontisto_yacht@2x.png"
            alt="Yacht"
          />
          <p>Yacht Adventures</p>
        </a>
        <ul class="header-link" id="header-link">
          <li class="header-li">
            <a class="header-links" href="#about">
              <span class="button-line button-line--top"></span>
              <span class="button-line button-line--bottom"></span>

              About</a
            >
          </li>
          <li class="header-li">
            <a class="header-links" href="#yahts">
              <span class="button-line button-line--top"></span>
              <span class="button-line button-line--bottom"></span>
              Yachts</a
            >
          </li>
          <li class="header-li">
            <a class="header-links" href="#reviews">
              <span class="button-line button-line--top"></span>
              <span class="button-line button-line--bottom"></span>
              Reviews</a
            >
          </li>
        </ul>
      </nav>

      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-toggle-icon" width="20" height="14">
          <use href="./img/icons.svg#menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
</header>
