<header class="header-nav">
  <div class="container header-div">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">
        <svg class="header-icon" width="20" height="32">
          <use href="./img/icons.svg#yaht"></use>
        </svg>
        Yacht Adventures</a
      >
      <ul class="header-link">
        <li><a class="links" href="./about.html">About</a></li>
        <li><a class="links" href="./yahts.html">Yachts</a></li>
        <li><a class="links" href="./reviews.html">Reviews</a></li>
      </ul>
    </nav>
  </div>
</header>
