<header class="header-main">
  <div class="container header-div">
    <div class="mobail-div-two">
      <nav class="header-nav">
        <a class="header-logo" href="./index.html">
          <img
            class="header-img"
            src="../img/header img/Yacht Adventures2/fontisto_yacht@2x.png"
            alt="Yacht"
          />
          <p>Yacht Adventures</p></a
        >
        <ul class="header-link">
          <li><a class="header-links" href="#about">About</a></li>
          <li><a class="header-links" href="#yahts">Yachts</a></li>
          <li><a class="header-links" href="#reviews">Reviews</a></li>
        </ul>
      </nav>

      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-toggle-icon" width="20" height="14">
          <use href="./img/icons.svg#menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
