<section class="hero section">
  <div class="container box">
    <div class="hero-photos">
      <div class="hero-cyrcle1"></div>
      <div class="hero-cyrcle2"></div>
      <div class="hero-cyrcle3"></div>
      <!-- Our clients block photos  -->
      <img
        srcset="./img/hero/redman@1x.webp 1x, ./img/hero/redman@2x.webp 2x"
        src="../img/hero/redman.webp"
        alt="client photo in red jacket"
        width="56"
        class="box-client1"
        data-aos="fade-down"
        data-aos-once="true"
        data-aos-offset="200"
        data-aos-delay="300"
        data-aos-easing="ease-in-out"
      />
      <img
        srcset="./img/hero/girl@1x.webp 1x, ./img/hero/girl@2x.webp 2x"
        src="../img/hero/girl.webp"
        alt="client girl photo"
        width="56"
        class="box-client2"
        data-aos="fade-down"
        data-aos-once="true"
        data-aos-offset="200"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      />
      <img
        srcset="./img/hero/robin@1x.png 1x, ./img/hero/robin@2x.png 2x"
        src="../img/hero/robin.png"
        alt="client photo in white shirt"
        width="56"
        class="box-client3"
        data-aos="fade-down"
        data-aos-once="true"
        data-aos-offset="100"
        data-aos-delay="50"
        data-aos-easing="ease-in-out"
      />
      <p
        class="our-clients"
        data-aos="fade-left"
        data-aos-once="true"
        data-aos-offset="100"
        data-aos-delay="50"
        data-aos-easing="ease-in-out"
      >
        Our Clients
      </p>
      <!-- Boss & Yacht photos block  -->
      <img
        srcset="
          ./img/hero/background-cut@1x.webp 1x,
          ./img/hero/background-cut@2x.webp 2x
        "
        src="../img/hero/background-cut.webp"
        alt="background pic"
        width="462"
        height="598"
        class="box-background"
        data-aos="fade-right"
        data-aos-once="true"
        data-aos-offset="200"
        data-aos-delay="500"
        data-aos-easing="ease-in-out"
      />
      <img
        srcset="./img/hero/yaht@1x.webp 1x, ./img/hero/yaht@2x.webp 2x"
        src="../img/hero/yaht.webp"
        alt="nice grey yacht"
        width="374"
        height="221"
        class="box-yacht"
        data-aos="fade-right"
        data-aos-once="true"
        data-aos-offset="100"
        data-aos-delay="5"
        data-aos-easing="ease-in-out"
      />

      <img
        srcset="./img/hero/boroda@1x.webp 1x, ./img/hero/boroda@2x.webp 2x"
        src="../img/hero/boroda.webp"
        alt="man on the yacht on see"
        width="232"
        class="box-boss"
        data-aos="fade-down"
        data-aos-once="true"
        data-aos-offset="100"
        data-aos-delay="50"
        data-aos-easing="ease-in-out"
      />
      <div class="cost">
        <p
          class="cost-price"
          data-aos="fade-left"
          data-aos-once="true"
          data-aos-offset="100"
          data-aos-delay="550"
          data-aos-easing="ease-in-out"
        >
          $12M
        </p>
        <p
          class="cost-strong"
          data-aos="fade-right"
          data-aos-once="true"
          data-aos-offset="100"
          data-aos-delay="50"
          data-aos-easing="ease-in-out"
        >
          Book now and make your dream yacht rental a reality
        </p>
      </div>
    </div>
    <div class="hero-sibscribe-container">
      <h1
        class="hero-title"
        data-aos="fade-down"
        data-aos-once="true"
        data-aos-offset="100"
        data-aos-delay="360"
        data-aos-easing="ease-in"
      >
        Explore the High Seas with
        <span class="hero-title-grey"> Our Luxury Yacht </span>Rentals
      </h1>
      <p class="hero-item">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <div class="hero-buttons-container">
        <!-- <button class="hero-btn-get" type="button">Get Started</button> -->
        <a
          href="#about"
          class="liquid-btn"
          data-aos="fade-left"
          data-aos-once="true"
          data-aos-offset="200"
          data-aos-delay="10"
          data-aos-easing="ease-in-out"
        >
          <span class="liquid-s">Get Started</span>
          <div class="liquid"></div>
        </a>
        <a
          class="hero-btn-explore"
          data-aos="fade-down"
          data-aos-once="true"
          data-aos-offset="200"
          data-aos-delay="500"
          data-aos-easing="ease-in-out"
          href="#services"
          >Explore</a
        >
      </div>
    </div>
  </div>
</section>
