<section class="hero section">
  <div class="container box">
    <div class="hero-photos">
      <!-- Our clients block photos  -->
      <img
        src="../img/hero/redman@1x.png"
        alt="client photo in red jacket"
        class="box-client1"
      />
      <img
        src="../img/hero/girl@1x-1.png"
        alt="client girl photo"
        class="box-client2"
      />
      <img
        src="../img/hero/Rudy@1x.png"
        alt="client photo in white shirt"
        class="box-client3"
      />
      <p class="our-clients">Our Clients</p>
      <!-- Boss & Yacht photos block  -->
      <img
        src="../img/hero/background_cut@1x.png"
        alt=""
        class="box-background"
      />
      <img src="../img/hero/yaht@1x.png" alt="" class="box-yacht" />

      <img src="../img/hero/boroda@1x.png" alt="" class="box-boss" />
      <div class="cost">
        <p class="cost-price">$12M</p>
        <p class="cost-strong">
          Book now and make your dream yacht rental a reality
        </p>
      </div>
    </div>
    <div class="hero-sibscribe-container">
      <h1 class="hero-title">
        Explore the High Seas with
        <span class="hero-title-grey"> Our Luxury Yacht </span>Rentals
      </h1>
      <p class="hero-item">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <div class="hero-buttons-container">
        <button class="hero-btn-get" type="button">Get Started</button>
        <a class="hero-btn-explore" href="#ServicesBlock">Explore</a>
      </div>
    </div>
  </div>
</section>
