<p class="hero">hero</p>

<section class="hero section">
  <div class="container">
    <h1 class="hero-title">
      Explore the High Seas with <span> Our Luxury Yacht Rentals</span>
    </h1>
    <p>
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark on an unforgettable journey
      surrounded by breathtaking views and state-of-the-art amenities.
    </p>
    <button class="hero-btn" type="button">Get Started</button>
    <a href="#ServicesBlock"
      ><button class="hero-btn" type="button">Explore</button></a
    >
  </div>
</section>
