<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu-container-div">
    <div class="mobail-div">
      <a class="header-logo" href="./index.html">
        <img
          class="header-img"
          src="./img/header img/Yacht Adventures2/fontisto_yacht@2x.png"
          alt="Yacht"
        />
        <p>Yacht Adventures</p></a
      >
      <button class="menu-toggle js-close-menu">
        <svg class="menu-close" width="24" height="24">
          <use href="./img/icons.svg#close"></use>
        </svg>
      </button>
    </div>
    <ul class="mobile-menu">
      <li><a class="header-links mobile-modal-link" href="#about">About</a></li>
      <li>
        <a class="header-links mobile-modal-link" href="#yahts">Yachts</a>
      </li>
      <li>
        <a class="header-links mobile-modal-link" href="#reviews">Reviews</a>
      </li>
    </ul>

    <div class="shadow-one"></div>
    <div class="shadow-two"></div>
  </div>
</div>
