<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg
     
      width="12"
      height="12"
    >
      <use href="./img/icons.svg#close"></use>
    </svg>
  </button>

  <ul class="header-link">
        <li><a class="header-links" href="./about.html">About</a></li>
        <li><a class="header-links" href="./yahts.html">Yachts</a></li>
        <li><a class="header-links" href="./reviews.html">Reviews</a></li>
      </ul>
  </ul>
</div>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="./js/mobile-menu.js"></script>
