<!-- Modal window -->
<div class="modal" data-modal="1">
  <div class="modal-window">
  <button type="button" class="close-rent-button js-modal-close">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M18 6L6 18" stroke="#F6F5EF" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M6 6L18 18" stroke="#F6F5EF" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>

  <div class="thumb-rent">
    <picture>
      <source media="(min-width:768px)" srcset="./img/rent/img-modal@1x.png 1x, ./img/rent/img-modal@2x.png 2x" />
      <source media="(min-width:320px)"
        srcset="./img/rent/img-modal-mobile@1x.png 1x, ./img/rent/img-modal-mobile@2x.png 2x" />
      <img class="modal-image" src="./img/rent/img-modal@1x.png" alt="Thanks" />
    </picture>
  </div>
  
  <h2 class="modal-h">Thank you</h2>
  <p class="rent-modal-txt">Thank you for choosing Yacht Adventures, your booking details have been received and our
    team
    will be in touch shortly
    to confirm your reservation and provide any additional information or assistance you may need.</p>
    
    </div>




