<!-- Rent Section -->
<section id="rent" class="rent-yacht-section section">
  <div class="rent-container container">
    <!-- Image  -->
    <div class="rent-box">
      <div class="img-box">
        <h2 class="rent-txt">Rent a yacht now</h2>
        <img
          class="rent-image-container"
          srcset="./img/rent/img-1@1x.png, ./img/rent/img-1@2x.png"
          src="./img/rent/rentyaht.png"
          alt="Yaht"
        />
      </div>
    </div>
    <!-- Rent Form -->
    <div class="rent-form-row-container">
      <form id="contactForm" class="rent-form">
        <div class="rent-form-row">
          <input
            class="rent-yacht-input"
            type="text"
            id="username"
            name="username"
            required
          />
          <label class="label-txt" for="username">Full name</label>
        </div>
        <div class="rent-form-row">
          <input
            class="rent-yacht-input"
            type="email"
            id="email"
            name="email"
            required
          />
          <label class="label-txt" for="email">Email</label>
        </div>
        <div class="rent-form-row">
          <input
            class="rent-yacht-input"
            type="tel"
            id="phone"
            name="phone"
            required
          />
          <label class="label-txt" for="phone">Phone number</label>
        </div>
        <div class="rent-form-row">
          <textarea
            class="text-comments"
            type="text"
            id="comments"
            name="comments"
            rows="3"
            placeholder=""
          >
          </textarea>
          <label class="label-txt2" for="comments">Comment</label>
        </div>
        <button
          class="rent-btn rent-button-flex js-open-modal"
          data-modal="1"
          type="submit"
        >
          Send
          <svg width="18" height="8.66" class="rent-button-icon">
            <use href="./img/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
