<section class="adventures" id="reviews">
  <div class="reviews-container container">
    <div class="adventures-title-container">
      <h3 class="adventures-title">
        <span class="adventure-title-gray">Yacht Adventures</span>
        <span class="adventures-title-item"
          >take pride in providing the best possible service and experience to
          our customers</span
        >
      </h3>
      <p class="adventures-text">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <div class="gallery-reviews">
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="reviews-block">
              <img
                class="img-adventures"
                src="./img/reviews/john_tablet@2x.png"
                alt="John Wax"
              />
              <h4 class="reviews-name">John Wax</h4>
              <p class="adventures-list-item-text">
                I rented the Lagoon 620 with my family for a week-long vacation
                and it was the best decision ever. The yacht was spacious,
                comfortable, and luxurious, and the crew took care of
                everything.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews-block">
              <img
                class="img-adventures"
                src="./img/reviews/victoria_tablet@2x.png"
                alt="Victoria Romashenko"
              />
              <h4 class="reviews-name">Victoria Romashenko</h4>
              <p class="adventures-list-item-text">
                The Sunseeker Manhattan 66 was the perfect choice for our
                romantic getaway. The yacht was beautifully designed, with all
                the amenities we needed, and the crew was attentive and
                friendly.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews-block">
              <img
                class="img-adventures"
                src="./img/reviews/ihor_tablet@2x.png"
                alt="Ihor Trachuk"
              />
              <h4 class="reviews-name">Ihor Trachuk</h4>
              <p class="adventures-list-item-text">
                The Azimut 80 was the most luxurious yacht I've ever been on.
                The cabins were spacious and elegant, and the outdoor areas were
                perfect for relaxing and entertaining. Worth every penny!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
    <!-- Spot on bg -->
    <div class="reviews-spot"></div>
  </div>
</section>
