<section>
    <div class="container">
        <div class="reviews-box">
        <p class="text-first"> <span>Yacht Adventures</span> take pride in providing the best possible service and
            experience to our customers</p>
        <p class="text-second">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for
            it - read on to find out
            what they have to say about their journey with us.</p>
    </div>
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
        <img class="img-people" src="/src/img/reviews/image1.png" alt="people">
        <h2 class="name-people">John Wax</h2>
        <p class="text-people">I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was
        spacious, comfortable, and luxurious, and the crew took care of everything.</p>
            </div>
            <div class="swiper-slide">Slide 2
                
            </div>
            <div class="swiper-slide">Slide 3
                
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
</section>
