<section class="section" id="yacht">
  <div class="yachts-box container">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <h2>Choose your dream yacht and sail away into the sunset</h2>
    <button type="button" onclick="window.location.href='rentblock'">Yacht Rental</button>
    <div class="yacht-gallery">
      <!-- <div class="swiper"> -->
        <!-- Additional required wrapper -->
        <!-- <div class="swiper-wrapper"> -->
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="yacht-card">
                <div class="yacht-img"><img
                    src="./img/yahts/arrow.jpg"
                    srcset="
                        ./img/yahts/arrow_m.jpg   360w,
                        ./img/yahts/arrow_m@x2.jpg  720w, 
                        ./img/yahts/arrow_t.jpg   768w,
                        ./img/yahts/arrow_t@x2.jpg 1536w, 
                        ./img/yahts/arrow.jpg 1280w,
                        ./img/yahts/arrow@x2.jpg 2560w
                    "
                    alt="Arrow yacht"
                   sizes="
                            (max-width: 767px) 360px,
                            (max-width: 767px) 720px,
                            (max-width: 1157px) 768px,
                            (max-width: 1157px) 1536px,
                            1158px
                        "
                /></div>
                <div class="title-yacht">
                  <p class="yacht-name">Arrow</p>
                  <p class="yacht-class">luxury yahts</p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td>48m (155ft)</td>
                  </tr>
                  <tr>
                    <td>builder</td>
                    <td>Admiral</td>
                  </tr>
                  <tr>
                    <td>built</td>
                    <td>2021</td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td>11 in 5 cabins</td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td>&euro;33,500,000</td>
                  </tr>
                </table>
            </div>
          </div>
          <div class="swiper-slide"><div class="yacht-card">
                <img
                    src="./img/yahts/benetti.jpg"
                    srcset="
                        ./img/yahts/benetti_m.jpg   360w,
                        ./img/yahts/benetti_m@x2.jpg  720w, 
                        ./img/yahts/benetti_t.jpg   768w,
                        ./img/yahts/benetti_t@x2.jpg 1536w, 
                        ./img/yahts/benetti.jpg 1280w,
                        ./img/yahts/benetti@x2.jpg 2560w
                    "
                    alt="benetti yacht"
                   sizes="
                            (max-width: 767px) 360px,
                            (max-width: 767px) 720px,
                            (max-width: 1157px) 768px,
                            (max-width: 1157px) 1536px,
                            1158px
                        "
    />
                <div class="title-yacht">
                  <p class="yacht-name">BENETTI OASIS 40M BO122</p>
                  <p class="yacht-class">luxury yahts</p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td>41m (133ft)</td>
                  </tr>
                  <tr>
                    <td>shipyard</td>
                    <td>Benetti</td>
                  </tr>
                  <tr>
                    <td>built</td></td>
                    <td>2025</td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td>10 in 5 cabins</td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td>&euro;23,210,000</td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img
                    src="./img/yahts/belle.jpg"
                    srcset="
                        ./img/yahts/belle_m.jpg   360w,
                        ./img/yahts/belle_m@x2.jpg  720w, 
                        ./img/yahts/belle_t.jpg   768w,
                        ./img/yahts/belle_t@x2.jpg 1536w, 
                        ./img/yahts/belle.jpg 1280w,
                        ./img/yahts/belle@x2.jpg 2560w
                    "
                    alt="belle anna yacht"
                   sizes="
                            (max-width: 767px) 360px,
                            (max-width: 767px) 720px,
                            (max-width: 1157px) 768px,
                            (max-width: 1157px) 1536px,
                            1158px
                        "
    />
            <div class="title-yacht">
                  <p class="yacht-name">Belle Anna</p>
                  <p class="yacht-class">luxury yahts</p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td>50m (155ft)</td>
                  </tr>
                  <tr>
                    <td>shipyard</td>
                    <td>ISA</td>
                  </tr>
                  <tr>
                    <td>built</td>
                    <td>2012</td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td>12 in 6 cabins</td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td>&euro;21,000,000</td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img
                    src="./img/yahts/ellen.jpg"
                    srcset="
                        ./img/yahts/ellen_m.jpg   360w,
                        ./img/yahts/ellen_m@x2.jpg  720w, 
                        ./img/yahts/ellen_t.jpg   768w,
                        ./img/yahts/ellen_t@x2.jpg 1536w, 
                        ./img/yahts/ellen.jpg 1280w,
                        ./img/yahts/ellen@x2.jpg 2560w
                    "
                    alt="ellen yacht"
                   sizes="
                            (max-width: 767px) 360px,
                            (max-width: 767px) 720px,
                            (max-width: 1157px) 768px,
                            (max-width: 1157px) 1536px,
                            1158px
                        "
    />
                <div class="title-yacht">
                  <p class="yacht-name">Ellen</p>
                  <p class="yacht-class">luxury yahts</p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td>40m (132ft)</td>
                  </tr>
                  <tr>
                    <td>shipyard</td>
                    <td>Perini Navi</td>
                  </tr>
                  <tr>
                    <td>built</td>
                    <td>2001/2016 (refitted)</td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td>9 in 4 cabins</td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td>&euro;9,300,000</td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img
                    src="./img/yahts/mirage.jpg"
                    srcset="
                        ./img/yahts/mirage_m.jpg   360w,
                        ./img/yahts/mirage_m@x2.jpg  720w, 
                        ./img/yahts/mirage_t.jpg   768w,
                        ./img/yahts/mirage_t@x2.jpg 1536w, 
                        ./img/yahts/mirage.jpg 1280w,
                        ./img/yahts/mirage@x2.jpg 2560w
                    "
                    alt="mirage 401 yacht"
                   sizes="
                            (max-width: 767px) 360px,
                            (max-width: 767px) 720px,
                            (max-width: 1157px) 768px,
                            (max-width: 1157px) 1536px,
                            1158px
                        "
    />
                <div class="title-yacht">
                  <p class="yacht-name">Mirage 401</p>
                  <p class="yacht-class">luxury yahts</p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td>38m (125ft)</td>
                  </tr>
                  <tr>
                    <td>shipyard</td>
                    <td>Gianetti Custom Yachts</td>
                  </tr>
                  <tr>
                    <td>built</td>
                    <td>2024</td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td>10 in 5 cabins</td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td>&euro;13,500,000</td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img
                    src="./img/yahts/king.jpg"
                    srcset="
                        ./img/yahts/king_m.jpg   360w,
                        ./img/yahts/king_m@x2.jpg  720w, 
                        ./img/yahts/king_t.jpg   768w,
                        ./img/yahts/king_t@x2.jpg 1536w, 
                        ./img/yahts/king.jpg 1280w,
                        ./img/yahts/king@x2.jpg 2560w
                    "
                    alt="king yacht"
                   sizes="
                            (max-width: 767px) 360px,
                            (max-width: 767px) 720px,
                            (max-width: 1157px) 768px,
                            (max-width: 1157px) 1536px,
                            1158px
                        "
    />
                <div class="title-yacht">
                  <p class="yacht-name">KING</p>
                  <p class="yacht-class">luxury yahts</p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td>33m (109ft)</td>
                  </tr>
                  <tr>
                    <td>shipyard</td>
                    <td>Overmarine</td>
                  </tr>
                  <tr>
                    <td>built</td>
                    <td>2004 / 2018 (refitted)</td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td>9 in 4 cabins</td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td>&euro;1,850,000</td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img
                    src="./img/yahts/salt.jpg"
                    srcset="
                        ./img/yahts/salt_m.jpg   360w,
                        ./img/yahts/salt_m@x2.jpg  720w, 
                        ./img/yahts/salt_t.jpg   768w,
                        ./img/yahts/salt_t@x2.jpg 1536w, 
                        ./img/yahts/salt.jpg 1280w,
                        ./img/yahts/salt@x2.jpg 2560w
                    "
                    alt="salt yacht"
                   sizes="
                            (max-width: 767px) 360px,
                            (max-width: 767px) 720px,
                            (max-width: 1157px) 768px,
                            (max-width: 1157px) 1536px,
                            1158px
                        "
                />
                <div class="title-yacht">
                  <p class="yacht-name">SALT</p>
                  <p class="yacht-class">luxury yahts</p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td>32m (105ft)</td>
                  </tr>
                  <tr>
                    <td>builder</td>
                    <td>SanLorenzo</td>
                  </tr>
                  <tr>
                    <td>built</td>
                    <td>2019</td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td>11 in 5 cabins</td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td>&euro;7,800,000</td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img
                    src="./img/yahts/salt.jpg"
                    srcset="
                        ./img/yahts/salt_m.jpg   360w,
                        ./img/yahts/salt_m@x2.jpg  720w, 
                        ./img/yahts/salt_t.jpg   768w,
                        ./img/yahts/salt_t@x2.jpg 1536w, 
                        ./img/yahts/salt.jpg 1280w,
                        ./img/yahts/salt@x2.jpg 2560w
                    "
                    alt="belle anna yacht"
                   sizes="
                            (max-width: 767px) 360px,
                            (max-width: 767px) 720px,
                            (max-width: 1157px) 768px,
                            (max-width: 1157px) 1536px,
                            1158px
                        "
    />
                <div class="title-yacht">
                  <p class="yacht-name">STORM</p>
                  <p class="yacht-class">luxury yahts</p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td>32m (103ft)</td>
                  </tr>
                  <tr>
                    <td>shipyard</td>
                    <td>Overmarine</td>
                  </tr>
                  <tr>
                    <td>built</td>
                    <td>2005 / 2022 (refitted)</td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td>9 in 4 cabins</td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td>&euro;2,900,000</td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img
                    src="./img/yahts/collu.jpg"
                    srcset="
                        ./img/yahts/collu_m.jpg   360w,
                        ./img/yahts/collu_m@x2.jpg  720w, 
                        ./img/yahts/collu_t.jpg   768w,
                        ./img/yahts/collu_t@x2.jpg 1536w, 
                        ./img/yahts/collu.jpg 1280w,
                        ./img/yahts/collu@x2.jpg 2560w
                    "
                    alt="collu yacht"
                   sizes="
                            (max-width: 767px) 360px,
                            (max-width: 767px) 720px,
                            (max-width: 1157px) 768px,
                            (max-width: 1157px) 1536px,
                            1158px
                        "
    />
                <div class="title-yacht">
                  <p class="yacht-name">COLLU</p>
                  <p class="yacht-class">luxury yahts</p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td>29m (96ft)</td>
                  </tr>
                  <tr>
                    <td>shipyard</td>
                    <td>Ferretti</td>
                  </tr>
                  <tr>
                    <td>built</td>
                    <td>2014</td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td>10 in 5 cabins</td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td>&dollar;4,300,000</td>
                  </tr>
                </table>
            </div>
          <!-- </div>
          
        </div> -->
       

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        
      </div>
    </div>
  </div>
</section>
