<section class="section" id="yacht">
  <div class="yachts-box container">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <h2>Choose your dream yacht and sail away into the sunset</h2>
    <button type="button">Yacht Rental</button>
    <div class="yacht-gallery">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="yacht-card">
                <img src="" alt="" width="" />
                <div class="title-yacht">
                  <p class="yacht-name">Arrow</p>
                  <p class="yacht-class">luxury yahts</p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>builder</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>built</td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td></td>
                  </tr>
                </table>
            </div>
          </div>
          <div class="swiper-slide"><div class="yacht-card">
                <img src="" alt="" width="" />
                <div class="title-yacht">
                  <p class="yacht-name"></p>
                  <p class="yacht-class"></p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>builder</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>built</td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td></td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img src="" alt="" width="" />
                <div class="title-yacht">
                  <p class="yacht-name"></p>
                  <p class="yacht-class"></p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>builder</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>built</td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td></td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img src="" alt="" width="" />
                <div class="title-yacht">
                  <p class="yacht-name"></p>
                  <p class="yacht-class"></p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>builder</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>built</td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td></td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img src="" alt="" width="" />
                <div class="title-yacht">
                  <p class="yacht-name"></p>
                  <p class="yacht-class"></p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>builder</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>built</td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td></td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img src="" alt="" width="" />
                <div class="title-yacht">
                  <p class="yacht-name"></p>
                  <p class="yacht-class"></p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>builder</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>built</td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td></td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img src="" alt="" width="" />
                <div class="title-yacht">
                  <p class="yacht-name"></p>
                  <p class="yacht-class"></p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>builder</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>built</td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td></td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img src="" alt="" width="" />
                <div class="title-yacht">
                  <p class="yacht-name"></p>
                  <p class="yacht-class"></p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>builder</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>built</td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td></td>
                  </tr>
                </table>
            </div></div>
          <div class="swiper-slide"><div class="yacht-card">
                <img src="" alt="" width="" />
                <div class="title-yacht">
                  <p class="yacht-name"></p>
                  <p class="yacht-class"></p>
                </div>
                <table>
                  <tr>
                    <td>lenght</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>builder</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>built</td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>guests</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td></td>
                  </tr>
                </table>
            </div></div>
          
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
