<section class="section" id="yahts">
  <div class="container">
    <div class="yachts-box">
        <div class="yacht-title-box">
          <div class="title-light">
          </div>
            <h2 class="yacht-title-h2">Choose your dream yacht and sail away into the sunset</h2>
          <!-- <a href="#rent" class="yacht-rent-btn">Yacht Rental</a> -->
          <a href="#rent" class="liquid-btn">
  <span class="liquid-s">Yacht Rental</span>
  <div class="liquid"></div>
</a>
        </div>
      <div class="yacht-gallery">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="yacht-card">
              <div class="picture-box">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/yahts/arrow.webp 1x,
                      ./img/yahts/arrow@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/yahts/arrow_t.webp 1x,
                      ./img/yahts/arrow_t@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/yahts/arrow_m.webp 1x,
                      ./img/yahts/arrow_m@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <img src="./img/yahts/arrow.webp" alt="Arrow yacht" />
                </picture>
              </div>
                  <div class="title-yacht">
                    <p class="yacht-name">Arrow</p>
                    <p class="yacht-class">luxury yahts</p>
                  </div>
                  <table class="yacht-card-tab">
                    <tr>
                      <td>lenght</td>
                      <td>48m (155ft)</td>
                    </tr>
                    <tr>
                      <td>builder</td>
                      <td>Admiral</td>
                    </tr>
                    <tr>
                      <td>built</td>
                      <td>2021</td>
                    </tr>
                    <tr>
                      <td>guests</td>
                      <td>11 in 5 cabins</td>
                    </tr>
                    <tr>
                      <td>price</td>
                      <td>&euro;33,500,000</td>
                    </tr>
                  </table>
              </div>
            </div>
            <div class="swiper-slide"><div class="yacht-card">
              <div class="picture-box">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/yahts/benetti.webp 1x,
                      ./img/yahts/benetti@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/yahts/benetti_t.webp 1x,
                      ./img/yahts/benetti_t@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/yahts/benetti_m.webp 1x,
                      ./img/yahts/benetti_m@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <img src="./img/yahts/benetti.webp" alt="Benetti yacht" />
                </picture>
              </div>
                  <div class="title-yacht">
                    <p class="yacht-name">BENETTI OASIS 40M BO122</p>
                    <p class="yacht-class">luxury yahts</p>
                  </div>
                  <table class="yacht-card-tab">
                    <tr>
                      <td>lenght</td>
                      <td>41m (133ft)</td>
                    </tr>
                    <tr>
                      <td>shipyard</td>
                      <td>Benetti</td>
                    </tr>
                    <tr>
                      <td>built</td></td>
                      <td>2025</td>
                    </tr>
                    <tr>
                      <td>guests</td>
                      <td>10 in 5 cabins</td>
                    </tr>
                    <tr>
                      <td>price</td>
                      <td>&euro;23,210,000</td>
                    </tr>
                  </table>
              </div></div>
            <div class="swiper-slide"><div class="yacht-card">
              <div class="picture-box">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/yahts/belle.webp 1x,
                      ./img/yahts/belle@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/yahts/belle_t.webp 1x,
                      ./img/yahts/belle_t@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/yahts/belle_m.webp 1x,
                      ./img/yahts/belle_m@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <img src="./img/yahts/belle.webp" alt="Belle Anna yacht" />
                </picture>
              </div>
              <div class="title-yacht">
                    <p class="yacht-name">Belle Anna</p>
                    <p class="yacht-class">luxury yahts</p>
                  </div>
                  <table class="yacht-card-tab">
                    <tr>
                      <td>lenght</td>
                      <td>50m (155ft)</td>
                    </tr>
                    <tr>
                      <td>shipyard</td>
                      <td>ISA</td>
                    </tr>
                    <tr>
                      <td>built</td>
                      <td>2012</td>
                    </tr>
                    <tr>
                      <td>guests</td>
                      <td>12 in 6 cabins</td>
                    </tr>
                    <tr>
                      <td>price</td>
                      <td>&euro;21,000,000</td>
                    </tr>
                  </table>
              </div></div>
            <div class="swiper-slide"><div class="yacht-card">
              <div class="picture-box">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/yahts/ellen.webp 1x,
                      ./img/yahts/ellen@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/yahts/ellen_t.webp 1x,
                      ./img/yahts/ellen_t@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/yahts/ellen_m.webp 1x,
                      ./img/yahts/ellen_m@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <img src="./img/yahts/ellen.webp" alt="Ellen yacht" />
                </picture>
              </div>
                  <div class="title-yacht">
                    <p class="yacht-name">Ellen</p>
                    <p class="yacht-class">luxury yahts</p>
                  </div>
                  <table class="yacht-card-tab">
                    <tr>
                      <td>lenght</td>
                      <td>40m (132ft)</td>
                    </tr>
                    <tr>
                      <td>shipyard</td>
                      <td>Perini Navi</td>
                    </tr>
                    <tr>
                      <td>built</td>
                      <td>2001/2016 (refitted)</td>
                    </tr>
                    <tr>
                      <td>guests</td>
                      <td>9 in 4 cabins</td>
                    </tr>
                    <tr>
                      <td>price</td>
                      <td>&euro;9,300,000</td>
                    </tr>
                  </table>
              </div></div>
            <div class="swiper-slide"><div class="yacht-card">
              <div class="picture-box">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/yahts/mirage.webp 1x,
                      ./img/yahts/mirage@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/yahts/mirage_t.webp 1x,
                      ./img/yahts/mirage_t@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/yahts/mirage_m.webp 1x,
                      ./img/yahts/mirage_m@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <img src="./img/yahts/mirage.webp" alt="Mirage yacht" />
                </picture>
              </div>
                  <div class="title-yacht">
                    <p class="yacht-name">Mirage 401</p>
                    <p class="yacht-class">luxury yahts</p>
                  </div>
                  <table class="yacht-card-tab">
                    <tr>
                      <td>lenght</td>
                      <td>38m (125ft)</td>
                    </tr>
                    <tr>
                      <td>shipyard</td>
                      <td>Gianetti Custom Yachts</td>
                    </tr>
                    <tr>
                      <td>built</td>
                      <td>2024</td>
                    </tr>
                    <tr>
                      <td>guests</td>
                      <td>10 in 5 cabins</td>
                    </tr>
                    <tr>
                      <td>price</td>
                      <td>&euro;13,500,000</td>
                    </tr>
                  </table>
              </div></div>
            <div class="swiper-slide"><div class="yacht-card">
              <div class="picture-box">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/yahts/king.webp 1x,
                      ./img/yahts/king@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/yahts/king_t.webp 1x,
                      ./img/yahts/king_t@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/yahts/king_m.webp 1x,
                      ./img/yahts/king_m@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <img src="./img/yahts/king.webp" alt="King yacht" />
                </picture>
              </div>
                  <div class="title-yacht">
                    <p class="yacht-name">KING</p>
                    <p class="yacht-class">luxury yahts</p>
                  </div>
                  <table class="yacht-card-tab">
                    <tr>
                      <td>lenght</td>
                      <td>33m (109ft)</td>
                    </tr>
                    <tr>
                      <td>shipyard</td>
                      <td>Overmarine</td>
                    </tr>
                    <tr>
                      <td>built</td>
                      <td>2004 / 2018 (refitted)</td>
                    </tr>
                    <tr>
                      <td>guests</td>
                      <td>9 in 4 cabins</td>
                    </tr>
                    <tr>
                      <td>price</td>
                      <td>&euro;1,850,000</td>
                    </tr>
                  </table>
              </div></div>
            <div class="swiper-slide"><div class="yacht-card">
              <div class="picture-box">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/yahts/salt.webp 1x,
                      ./img/yahts/salt@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/yahts/salt_t.webp 1x,
                      ./img/yahts/salt_t@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/yahts/salt_m.webp 1x,
                      ./img/yahts/salt_m@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <img src="./img/yahts/salt.webp" alt="Salt yacht" />
                </picture>
              </div>
                  <div class="title-yacht">
                    <p class="yacht-name">SALT</p>
                    <p class="yacht-class">luxury yahts</p>
                  </div>
                  <table class="yacht-card-tab">
                    <tr>
                      <td>lenght</td>
                      <td>32m (105ft)</td>
                    </tr>
                    <tr>
                      <td>builder</td>
                      <td>SanLorenzo</td>
                    </tr>
                    <tr>
                      <td>built</td>
                      <td>2019</td>
                    </tr>
                    <tr>
                      <td>guests</td>
                      <td>11 in 5 cabins</td>
                    </tr>
                    <tr>
                      <td>price</td>
                      <td>&euro;7,800,000</td>
                    </tr>
                  </table>
              </div></div>
            <div class="swiper-slide"><div class="yacht-card">
              <div class="picture-box">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/yahts/storm.webp 1x,
                      ./img/yahts/storm@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/yahts/storm_t.webp 1x,
                      ./img/yahts/storm_t@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/yahts/storm_m.webp 1x,
                      ./img/yahts/storm_m@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <img src="./img/yahts/storm.webp" alt="Storm yacht" />
                </picture>
              </div>
                  <div class="title-yacht">
                    <p class="yacht-name">STORM</p>
                    <p class="yacht-class">luxury yahts</p>
                  </div>
                  <table class="yacht-card-tab">
                    <tr>
                      <td>lenght</td>
                      <td>32m (103ft)</td>
                    </tr>
                    <tr>
                      <td>shipyard</td>
                      <td>Overmarine</td>
                    </tr>
                    <tr>
                      <td>built</td>
                      <td>2005 / 2022 (refitted)</td>
                    </tr>
                    <tr>
                      <td>guests</td>
                      <td>9 in 4 cabins</td>
                    </tr>
                    <tr>
                      <td>price</td>
                      <td>&euro;2,900,000</td>
                    </tr>
                  </table>
              </div></div>
            <div class="swiper-slide"><div class="yacht-card">
              <div class="picture-box">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/yahts/collu.webp 1x,
                      ./img/yahts/collu@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/yahts/collu_t.webp 1x,
                      ./img/yahts/collu_t@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/yahts/collu_m.webp 1x,
                      ./img/yahts/collu_m@x2.webp 2x
                    "
                    type="image/webp"
                  />
                  <img src="./img/yahts/collu.webp" alt="Collu yacht" />
                </picture>
              </div>
                  <div class="title-yacht">
                    <p class="yacht-name">COLLU</p>
                    <p class="yacht-class">luxury yahts</p>
                  </div>
                  <table class="yacht-card-tab">
                    <tr>
                      <td>lenght</td>
                      <td>29m (96ft)</td>
                    </tr>
                    <tr>
                      <td>shipyard</td>
                      <td>Ferretti</td>
                    </tr>
                    <tr>
                      <td>built</td>
                      <td>2014</td>
                    </tr>
                    <tr>
                      <td>guests</td>
                      <td>10 in 5 cabins</td>
                    </tr>
                    <tr>
                      <td>price</td>
                      <td>&dollar;4,300,000</td>
                    </tr>
                  </table>
              </div>
            </div>
      
          </div>
       
      
        </div>
        <div class="gallery-btn">
          <button class="btn-prev">&#10229;</button>
          <button class="btn-next">&#10230;</button>
        </div>
      </div>
      <img src="./img/yahts/LooperGroup.svg" class="vectors" width="100%">
    </div>
  </div>
</section>
