.about-section {
  padding: 40px 0 106px;
}
@media only screen and (min-width: 768px) {
  .about-section {
    padding: 50px 0 33px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-section {
    padding: 82px 0;
  }
}

.about-container {
  position: relative;
}

.about-text-container {
}
@media only screen and (min-width: 1280px) {
  .about-text-container {
    display: flex;
    gap: 302px;
    width: calc((100% - 302px) / 2);
    margin-bottom: 64px;
  }
}

.about-text {
  max-width: 335px;
  color: var(--white, #f6f5ef);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.045em;
  padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .about-text {
    min-width: 470px;
    color: var(--white, #f6f5ef);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.045em;
    padding-bottom: 32px;
  }
}

.about-text-accent {
  font-family: DMSans-Italic-tp;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2; /* 28.8px */
  letter-spacing: -0.045em;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 768px) {
  .about-text-accent {
    font-family: DMSans-Italic-tp;
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.2; /* 38.4px */
    letter-spacing: -0.045em;
    background: var(
      --linear-green,
      linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.about-description-list {
  display: flex;
  gap: 14px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .about-description-list {
    gap: 32px;
    padding-bottom: 64px;
    margin-left: auto;
    width: 400px;
    margin-left: auto;
  }
}

.about-description-item {
  align-items: flex-start;
  width: calc((100% - 32px) / 2);
}

.about-description-text {
  width: 160px;
  color: var(--white, #f6f5ef);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .about-description-text {
    width: 183px;
    color: var(--white, #f6f5ef);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
  }
}

.about-picture-list {
}

.about-picture-item {
}

.about-picture-item:first-child {
  margin-bottom: 40px;
}

.about-picture {
}

.about-pic1 {
}

.about-picture-image {
}

.about-pic2 {
}

.about-image3 {
  position: absolute;
}
