#scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* visibility: hidden;
  opacity: 0; */
  transition: opacity 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: var(--light-green);
  border: none;
  border-radius: 8px;
}
@media only screen and (min-width: 768px) {
  #scrollToTopButton {
    width: 68px;
    height: 68px;
  }
}

.scroll-icon {
  fill: currentColor;
}
@media only screen and (min-width: 768px) {
  .scroll-icon {
    width: 16px;
    height: 30px;
  }
}
