/**
  |============================
  | footer
  |============================
*/
.footer {
  overflow: hidden;
}

.footer-container.container {
  padding-bottom: 14px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .footer-container.container {
    padding-top: 64px;
    padding-bottom: 16px;
  }
}

.footer-menu-container {
  border-top: 1px solid rgba(246, 245, 239, 0.2);
  padding-top: 41px;
}

@media only screen and (min-width: 768px) {
  .footer-menu-container {
    display: flex;
    justify-content: space-between;
  }
}

.logo-container {
  margin-bottom: 41px;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .logo-container {
    margin-right: 128px;
  }
}

.footer-logo-link {
  display: flex;
  gap: 8px;
}

.logo-img {
  width: 18px;
  height: 18px;
}

@media only screen and (min-width: 768px) {
  .logo-img {
    width: 23px;
    height: 23px;
  }
}

.footer-logo-text {
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 114%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .footer-logo-text {
    font-size: 18px;
    line-height: 118%; /* 21.24px */
    letter-spacing: 0.54px;
  }
}

.footer-nav {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-nav {
    margin-right: 143px;
    margin-bottom: 100px;
  }
}

.footer-text-nav {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%; /* 16.52px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .footer-list {
    text-align: center;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-list {
    display: flex;
    gap: 24px;
  }
}

.footer-text-nav:not(:last-child) {
  margin-bottom: 14px;
}

.footer-social-container {
  margin-bottom: 40px;
}

@media only screen and (min-width: 1280px) {
  .footer-social-container {
    margin-bottom: 132px;
  }
}

.footer-social-text {
  margin-bottom: 16px;
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 15.4px */
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  gap: 14px;
}

.footer-social-item {
}
@media only screen and (min-width: 768px) {
  .footer-social-item {
  }
}

.footer-social-link {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(246, 245, 239, 0.5);
  border-radius: 6px;
}

@media only screen and (min-width: 768px) {
  .footer-social-link {
    width: 40px;
    height: 40px;
  }
}

.footer-social-link:hover,
.footer-social-link:focus {
  border-color: var(--linear-green);
  color: var(--linear-green);
}

.social-icons {
  fill: var(--white);
}

.footer-social-link:hover .social-icons,
.footer-social-link:focus .social-icons {
  fill: #bbc5c1;
}

@media only screen and (min-width: 768px) {
  .social-icons {
    width: 22px;
    height: 22px;
  }
}

.footer-privacy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14px;
}

.footer-year-text {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%; /* 14.16px */
  letter-spacing: 0.36px;
}

@media only screen and (min-width: 768px) {
  .footer-year-text {
    font-size: 14px;
    letter-spacing: 0.42px;
  }
}

.privacy-text {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%; /* 14.16px */
  letter-spacing: 0.36px;
}

@media only screen and (min-width: 768px) {
  .privacy-text {
    font-size: 14px;
    letter-spacing: 0.42px;
  }
}

.cirkel-footer-first {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #91afba;
  filter: blur(100px);
  border-radius: 50%;
  z-index: -3;
  width: 414px;
  height: 414px;
  opacity: 0.6;
  transform: translate(-41%, 15%);
}

@media only screen and (min-width: 768px) {
  .cirkel-footer-first {
    transform: translate(-32%, 30%);
  }
}

@media only screen and (min-width: 1280px) {
  .cirkel-footer-first {
    transform: translate(-90%, 30%);
  }
}

.cirkel-footer-second {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #91afba;
  width: 317px;
  height: 317px;
  opacity: 0.3;
  filter: blur(100px);
  border-radius: 50%;
  z-index: -3;
}

@media only screen and (max-width: 1279.98px) {
  .cirkel-footer-second {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .cirkel-footer-second {
    transform: translate(20%, 50%);
  }
}
