/**
  |============================
  | footer
  |============================
*/
.footer {
}

.footer-container {
  padding-top: 41px;
  padding-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    padding-top: 64px;
    padding-bottom: 16px;
  }
}

.footer-menu-container {
}

@media only screen and (min-width: 768px) {
  .footer-menu-container {
    display: flex;
  }
}
.logo-container {
  margin-bottom: 41px;
  display: flex;
}

.logo-svg {
  fill: rgb(211, 220, 220);
}

.footer-nav {
  margin-bottom: 40px;
}

.footer-text-nav {
}

.footer-text-nav:not(:last-child) {
  margin-bottom: 14px;
}

.footer-social-container {
  margin-bottom: 40px;
}

.footer-social-text {
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 14px;
}

.footer-social-item {
}
@media only screen and (min-width: 768px) {
  .footer-social-item {
    width: 40px;
    height: 40px;
  }
}

.footer-social-link {
  fill: #f6f5ef;
}

.social-icons {
}

.footer-privacy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14px;
}

.footer-year-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 118%; /* 14.16px */
  letter-spacing: 0.36px;
}
.privacy-text {
}
a {
}
