.header {
  background-color: #11131f;
}
.header-icon {
  fill: var(--white);
}
.header-nav a {
}
.header-logo {
  all: unset;
  color: var(--white);
  font-family: DMSans-tp, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21, 24px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  background-color: transparent;
}
.header-links {
  all: unset;
  color: var(--white);
  font-family: DMSans-tp, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16, 52px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: transparent;
}
.header-logo {
  display: inline-flex;
  align-items: center;
}
.header-nav {
  all: unset;
  display: flex;
  width: 100%;
}
.header-link {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-link {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}

.menu-toggle-icon {
  fill: var(--white);
}
