.header {
  background-color: #11131f;
}

.mobail-div-two {
  border-bottom: 1px solid gray;
  display: flex;
}

.header-nav {
  all: unset;
  display: flex;
  width: 100%;
  margin: 32px 0;
  justify-content: space-between;
}

.header-svg {
  fill: rgb(211, 220, 220);
  margin-right: 8px;
}
.header-logo {
  all: unset;
  color: #f6f5ef;
  font-family: DMSans-tp, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 114%; /* 15.96px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: transparent;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .header-logo {
    all: unset;
    color: var(--white);
    font-family: DMSans-tp, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    background-color: transparent;
    display: flex;
    align-items: center;
  }
}
.header-links {
  all: unset;
  color: var(--white);
  font-family: DMSans-tp, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: transparent;
}

.header-link {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-link {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}

.menu-toggle-icon {
  fill: var(--white);
}
