.header {
  background-color: var(--dark-blue);
}

.mobail-div-two {
  border-bottom: 1px solid rgb(170, 166, 166, 0.4);
  display: flex;
}

.header-nav {
  all: unset;
  display: flex;
  width: 100%;
  margin: 27px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header-nav {
    margin: 32px 0;
  }
}
.header-img {
  margin-right: 8px;
  width: 18px;
  height: 18px;
}
@media (min-width: 768px) {
  .header-img {
    width: 23px;
    height: 23px;
  }
}

.header-logo {
  all: unset;
  color: var(--white);
  font-family: DMSans-tp, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 114%; /* 15.96px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-logo:hover,
.header-logo:focus {
  color: var(--light-green);
}
@media (min-width: 768px) {
  .header-logo {
    all: unset;
    color: var(--white);
    font-family: DMSans-tp, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.header-links {
  all: unset;
  color: var(--white);
  font-family: DMSans-tp, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
.header-links:hover,
.header-links:focus {
  color: var(--light-green);
}
.header-link {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-link {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}

.menu-toggle-icon {
  fill: var(--white);
}
