.hero {
  /* background-color: turquoise; */
  /* background-color: #11131f;
  z-index: -10; */
}


@media screen and (min-width: 320px) and (max-width: 375px) {
  .hero-photos {}
}

@media screen and (max-width: 768px) {}

@media screen and (min-width: 769px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1158px) {}


/* @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          .hero {
            background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_pc@2x.jpg);
            background-size: cover;
          } */


@media screen and (min-width: 768px) and (max-width: 1279px) {

  .hero-photos {

    padding-bottom: 660px;
  }

  .box {

    display: flex;
    flex-direction: column-reverse;

  }

  .hero-sibscribe-container {

    max-width: 698px;

  }

  .box-background {
    left: auto;

  }

  .box-client1 {
    left: 30px;

  }

  .box-client2 {
    left: 75px;
  }

  .box-client3 {
    left: 120px;
  }

  .our-clients {
    left: 30px;
  }

  .box-yacht {
    left: 30px;
  }

  .box-boss {
    left: 369px;
  }

  .cost {
    left: 30px;
  }

  /* Tablet filters  */

  .hero-cyrcle1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-135%, -40%);
    width: 414px;
    height: 414px;
    background: #939CAC;
    filter: blur(100px);
    border-radius: 414px;
    opacity: 0.9;
    z-index: -15;

  }

  .hero-cyrcle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-175%, -40%);
    width: 414px;
    height: 414px;
    background: #91AFBA;
    filter: blur(100px);
    border-radius: 414px;
    opacity: 0.6;
    z-index: -14;
  }


  .hero-cyrcle3 {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-95%, -50%);
    width: 316px;
    height: 316px;
    background: #A6A9B2;
    filter: blur(100px);
    border-radius: 50%;
    opacity: 0.3;
    z-index: 1;
  }

}

/* border: 1px solid red; */

@media only screen and (min-width: 1280px) {


  .box {
    display: flex;
    gap: 436px;
  }

  .hero-sibscribe-container {
    margin-left: 236px;
    margin-top: 132px;
    margin-bottom: auto;
    width: 554px;

  }

  .hero {

    margin-bottom: 82px;

  }

  .box-background {
    left: 32px;
  }

  .hero-title {
    max-width: 490px;
  }

  .box-client1 {
    left: 90px;

  }

  .box-client2 {
    left: 133px;
  }

  .box-client3 {
    left: 176px;
  }

  .our-clients {
    left: 90px;
  }

  .box-yacht {
    left: 70px;
  }


  .box-boss {
    left: 370px;
  }

  .cost {
    left: 90px;
  }

  /* Desktop filters  */

  .hero-cyrcle1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -10%);
    width: 414px;
    height: 414px;
    background: #939CAC;
    filter: blur(100px);
    border-radius: 50%;
    opacity: 0.9;
    z-index: -11;
    /* border: 1px solid red; */
  }

  .hero-cyrcle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5%, 10%);
    width: 414px;
    height: 414px;
    background: #91AFBA;
    filter: blur(180px);
    border-radius: 50%;
    opacity: 0.9;
    z-index: -12;
    /* border: 1px solid red; */
  }

  .hero-cyrcle3 {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(45%, 10%);
    width: 316px;
    height: 316px;
    background: #A6A9B2;
    filter: blur(100px);
    border-radius: 50%;
    opacity: 0.3;
    z-index: -13;
    /* border: 1px solid red; */

  }

}


/**
  |============================
  |  Photos
  |============================
*/

/* .hero-photos {
  position: relative;
} */

.box-background {

  width: 422px;
  height: 598px;
  top: 64px;
  left: auto;
  z-index: -8;
  position: absolute;
}


/* Boss & client photos block  */

.box-client1 {
  width: 56px;
  top: 91px;
  left: 32px;
  z-index: -5;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-client2 {
  width: 56px;
  top: 91px;
  left: 77px;
  z-index: -6;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-client3 {
  width: 56px;
  top: 91px;
  left: 125px;
  z-index: -7;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-clients {
  min-width: 96px;
  color: #11131F;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  position: absolute;

  width: 56px;
  top: 163px;
  left: 32px;
  z-index: 2;
}


/* Boss & Yacht photos block  */

.box-yacht {
  top: 289px;
  left: 24px;
  width: 374px;
  height: 221px;
  z-index: -5;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-boss {
  top: 96px;
  width: 232px;
  left: 305px;
  z-index: -8;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;

}

.cost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 362px;
  top: 532px;
  left: 37px;
  position: absolute;
}


.cost-price {
  color: #11131F;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -2.7px;
  text-transform: uppercase;
}

.cost-strong {
  color: #11131F;
  font-size: 18px;
  letter-spacing: -0.81px;
  line-height: 110%;

}


/**
  |============================
  |  Hero subscribe
  |============================
*/

/* .hero-photos {
  position: relative;
} */

.hero-title {

  font-size: 60px;
  font-weight: 500;
  letter-spacing: -2.7px;
  line-height: 110%;

}

.hero-title-grey {
  font-family: DMSans-Italic-tp;
  background: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -2.7px;

}

.hero-item {

  width: 539px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.32px;
  margin-top: 16px;
  margin-bottom: 32px;
}


.hero-buttons-container {
  display: flex;
  gap: 11px;
  align-items: center;
  color: #F6F5EF;

}

.hero-btn-get {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: auto;
  border-radius: 60px;
  min-width: 150px;
  height: 48px;
  font-size: 18px;
  letter-spacing: -0.81px;
  background: var(--light-green, #93ABAE);
  font-weight: 700;
  line-height: 110%;
  color: var(--white, #F6F5EF);

}

.hero-btn-explore {
  padding: 14px 28px;
  width: 117px;
  height: 48px;
  font-size: 18px;
  border-radius: 60px;
  font-weight: 700;
  line-height: 110%;
  border: 1px solid var(--white, #F6F5EF);
}

.hero-btn-get:hover,
.hero-btn-get:focus {
  background-color: #88B3B9;
}

.hero-btn-explore:hover,
.hero-btn-explore:focus {
  color: var(--light-green);
}

/* Mobile adaptation  */

@media screen and (min-width: 320px) and (max-width: 767px) {

  .box {
    display: flex;
    flex-direction: column-reverse;
    /* gap: 40px; */

  }

  .hero-sibscribe-container {

    width: 100%;
    height: auto;
  }

  .hero-title {

    max-width: 304px;
    width: 100%;
    /* height: 120px; */
    font-size: 36px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1.62px;

  }

  .hero-title-grey {
    font-family: DMSans-tp;
    background: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -1.62px;

  }

  .hero-item {
    /* all: unset; */
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.32px;
    margin-top: 14px;
    margin-bottom: 24px;
  }

  .hero-buttons-container {
    display: flex;
    gap: 11px;
    align-items: center;
    color: #F6F5EF;

  }

  .hero-btn-get {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: auto;
    border-radius: 60px;
    min-width: 130px;
    height: 43px;
    font-size: 14px;
    background: var(--light-green, #93ABAE);
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.63px;
    color: var(--white, #F6F5EF);

  }

  .hero-btn-explore {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding: auto;
    min-width: 104px;
    height: 43px;
    font-size: 14px;
    border-radius: 60px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.63px;
    border: 1px solid var(--white, #F6F5EF);
  }

  /* Box background */

  .hero-photos {
    /* all: unset; */
    /* position: relative; */
    margin-left: -32px;

    padding-bottom: 480px;

  }

  .box-background {

    width: 335px;
    height: 427px;
    top: 64px;
    left: 32px;
    z-index: -8;
    position: absolute;
  }


  /* Boss & Yacht photos block  */

  .box-client1 {
    width: 48px;
    top: 82px;
    left: 56px;
    z-index: -1;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box-client2 {
    width: 48px;
    top: 82px;
    left: 96px;
    z-index: -2;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box-client3 {
    width: 48px;
    top: 82px;
    left: 136px;
    z-index: -3;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .our-clients {
    min-width: 56px;
    color: #11131F;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    position: absolute;

    top: 143px;
    left: 56px;
    z-index: 2;
  }

  /* Boss & Yacht photos block  */

  .box-yacht {
    top: 229px;
    left: 56px;
    width: 287px;
    height: 167px;
    z-index: -5;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box-boss {
    top: 96px;
    left: 250px;
    width: 133px;
    z-index: -4;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .cost {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: 287px;
    top: 392px;
    left: 56px;
    position: absolute;
  }

  .cost-price {
    color: #11131F;
    font-size: 48px;
    letter-spacing: -2.16px;
    text-transform: uppercase;
  }

  .cost-strong {
    color: #11131F;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.63px;

  }

  /* Mobile Filters  */



  .hero-cyrcle1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-105%, -40%);
    width: 279px;
    height: 279px;
    background: #939CAC;
    filter: blur(100px);
    border-radius: 279px;
    opacity: 0.9;
    z-index: -25;

  }

  .hero-cyrcle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-145%, -70%);
    width: 279px;
    height: 279px;
    background: #91AFBA;
    filter: blur(100px);
    border-radius: 279px;
    opacity: 0.6;
    z-index: -24;


  }

}

.hero-photos {
  position: relative;
}


/* border: 1px solid red; */

/* all: unset; */
/**
  |============================
  | Example for the Photos position
  |============================
*/

/* .hero-photos {
  background: url(../img/hero/background_grey@1x.png) center/cover no-repeat;
  height: 100vh;
}

.hero-photos:before {
  content: '';
  position: absolute;
  background: url(../img/hero/background_cut@1x.png) center/cover no-repeat;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
} */