.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  width: 95%;
  height: 95%;
  max-width: 335px;
  max-height: 396px;
  overflow: scroll;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800;

  padding: 40px 24px;
  border-radius: 20px;
  background: var(--blue);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal::after {
  content: '';
  position: absolute;
  top: 75px;
  left: 96px;
  width: 142px;
  height: 142px;
  border-radius: 50%;
  transform: rotate(-45.074deg);
  fill: #91afba;
  opacity: 0.6;
  z-index: -3;
  filter: blur(100px);
}

@media only screen and (min-width: 768px) {
  .modal {
    max-width: 570px;
    max-height: 552px;

    padding: 97px 64px 64px;
    border-radius: 40px;
  }
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.rent-modal-btn {
  stroke: currentColor;
  background-color: transparent;
  border: none;

  position: absolute;
  top: 14px;
  right: 14px;

  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .rent-modal-btn {
    top: 32px;
    right: 32px;

    width: 24px;
    height: 24px;
  }
}

.rent-modal-close {
}

.rent-modal-pic {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .rent-modal-pic {
    width: 338px;
    margin: 0 auto;
    margin-bottom: 21px;
  }
}

.rent-modal-title {
  margin-bottom: 14px;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.008em;
}
@media only screen and (min-width: 768px) {
  .rent-modal-title {
    margin-bottom: 16px;

    font-size: 32px;
  }
}

.rent-modal-txt {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.008em;
}
@media only screen and (min-width: 768px) {
  .rent-modal-txt {
    font-size: 16px;
  }
}
