@media (min-width: 1280px) {
  .rent-container {

    display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 188px;
  }
  
}

.img-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;

}

@media (min-width: 375px) {
  .img-box {
    width: 335px;
  }
}

@media (min-width: 767px) {
  .rent-txt {
    width: 271px;
  }
}

@media (min-width: 1280px) {
  .rent-txt {
    margin: 0;
  }
}

.rent-txt {
  color: #F6F5EF;
  width: 282px;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -2.7px;
  margin-bottom: 64px;
}

.rent-image-container {
  width: 282px;
  height: 191px;

}


@media (min-width: 375px) {
  .rent-image-container {
    width: 259px;
    height: 187px;
  }
}

/* Rent Form */

.rent-form {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.rent-form-row {

  position: relative;
}

.rent-form-row input {

  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.rent-form-row label {

  position: absolute;
  top: -10px;
  left: 4px;
  padding: 10px 0;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.rent-form-row input:focus~label,
.rent-form-row input:valid~label {
  top: -20px;
  left: 0;
  color: #88b3b9;
  font-size: 12px;
}

@media (max-width: 767px) {
  .rent-form-row {
    align-items: center;

  }
}

.rent-form-row input {
  width: 100%;
  width: 443px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;

}

@media (max-width: 767px) {

  .rent-form-row input {
    max-width: 335px;
    height: 1px;
    color: #fff;
  }
}


.rent-btn {
  background-color: transparent;
  color: #fff;
  display: flex;
  margin-top: 64px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 16px;
  border-radius: 60px;
  border: 1px solid #F6F5EF;
}

.rent-btn:hover {
  border: none;
  color: #93ABAE;
  border: 1px solid #93ABAE;

}

.rent-button-icon {
  fill: #f6f5ef;
}