.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-r{
  margin-bottom: 164px;
}

.rent-container{

    display: inline-flex;
      justify-content: center;
      align-items: flex-end;
      gap: 188px;
    
}
.img-box{
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 64px;
    
}
.rent-txt{
color: #F6F5EF;
  width: 282px;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  /* 66px */
  letter-spacing: -2.7px;
  margin-bottom: 64px;
}
.rent-image-container{
  width: 282px;
    height: 191px;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* Rent Form */
 ::placeholder {
   color: white;
 }
.rent-form{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.form-box{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
}
.rent-form-row{
  
display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  position: relative;

    
}
.rent-form-row input,
.rent-form-row textarea {
  width: 443px;
  padding: 8px;
  border: none;
  /*  границі */
  border-radius: 4px;
  background-color: transparent;
  
  
}
.rent-form-row::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 443px;
  height: 1px;
  background-color: #ccc;
}

.rent-btn{
  background-color: transparent;
  color: #fff;
  display: flex;
  margin-top: 64px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 16px;
  border-radius: 60px;
  border: 1px solid  #F6F5EF;
}
.rent-btn:hover {
  border: none;
  color: #93ABAE;
  border: 1px solid #93ABAE;

}

/* Стилі для мобільних пристроїв і екранів з шириною від 0 до 375px */
@media (max-width: 375px) {
  .rent-image-container img {
    max-width: 100%;
    height: auto;
  }
}

/* Стилі для планшетів і екранів з шириною від 768px до 1279px */
@media (min-width: 768px) and (max-width: 1279px) {
  .rent-image-container img {
    max-width: 100%;
    height: auto;
  }
}

/* Стилі для десктопних пристроїв з шириною екрану від 1280px і більше */
@media (min-width: 1280px) {
  .rent-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rent-image-container {
    flex: 1;
  }

  .rent-txt {
    font-size: 2rem;
  }
}
