.reviews-box {
  display: flex;
  justify-content: space-between;
}
.text-first {
  width: 497px;
    color: var(--white, #F6F5EF);
      font-family: DM Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -1.44px;
}
.text-second {
  width: 273px;
  color: var(--white, #F6F5EF);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.32px;
}
.text-first > span {
 opacity: 0.5;
}
/* Slides */
.swiper-wrapper {
  display: flex;
  gap: 32px;
}
.swiper-slide {
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.swiper-slide {
  width: 384px;
  height: 282px;
  border-radius: 24px;
  background: #1F212D;
}
.img-people {
  width: 56px;
  height: 56px;
  border-radius: 72px;
  box-shadow: 0px 2px 32px 4px rgba(18, 20, 23, 0.02);
}
.name-people {
    color: var(--white, #F6F5EF);
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.81px;
}
.text-people {
    color: rgba(246, 245, 239, 0.50);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.32px;
}