.adventures {
  padding-top: 80px;
  padding-bottom: 80px;
}
.text-first {
  width: 497px;
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.44px;
}
.text-second {
  width: 273px;
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.32px;
}
.text-first > span {
  opacity: 0.5;
}

.adventures-list {
  list-style: none;

  padding: 0;

  margin: 0;
}

@media only screen and (min-width: 768px) {
  .adventures-list {
    display: flex;
    gap: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .adventures-list {
    display: flex;
    gap: 32px;
  }
}

.adventures-list-item {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 24px;
  background: #1f212d;
  width: 384px;
  height: 282px;
  padding: 32px;
}


@media only screen and (min-width: 375px) {
  .adventures-list-item {
    width: 335px;
  }
}
.name-people {
  color: var(--white, #f6f5ef);
  text-align: center;

  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.81px;
  margin-bottom: 8px;
}
.text-people {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;

  padding: 0 3.5px;

  width: 100%;
}
.img-people {
  width: 56px;
  height: 56px;
  border-radius: 72px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 2px 32px 4px rgba(18, 20, 23, 0.02);
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .adventures-list-item-text {
    padding: 0;
  }
}