.services {
  background-color: turquoise;
}

/* .services-picture.img1 {
  background: linear-gradient(
      0deg,
      rgba(17, 19, 31, 0.2) 0%,
      rgba(17, 19, 31, 0.2) 100%
    ),
    url(<path-to-image>), lightgray -15.345px 0px / 123.898% 100% no-repeat;

  width: 335px;
  height: 335px;
  border-radius: 40px;
  overflow: hidden;
} */

/* .services-picture.img1 {
  border-radius: 40px;
  background: linear-gradient(
      0deg,
      rgba(17, 19, 31, 0.2) 0%,
      rgba(17, 19, 31, 0.2) 100%
    ),
    lightgray -15.345px 0px / 123.898% 100% no-repeat;
} */

.services {
}

.services-container {
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services-item {
}

.services-link {
}

.services-picture {
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.services-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 19, 31, 0.2);
}

.services-caption {
  position: absolute;
  bottom: 24px;
  left: 24px;

  padding: 14px 28px;
  background-color: var(--white);
  border-radius: 60px;

  color: var(--dark-blue);
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.045;
}
