/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./yahts.css');
@import url('./services.css');
@import url('./rent.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./mobile-menu.css');

:root {
  /* Colors */
  --dark-blue: #11131f;
  --blue: #1f212d;
  --white: #f6f5ef;
  --light-green: #93abae;
  --linear-green: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);

  font-family: DMSans-tp, sans-serif;
  color: var(--white);

  background-color: #11131f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: DMSans-tp;
  src: url(../fonts/DMSans-VariableFont.ttf);
  font-weight: 400;
}

@font-face {
  font-family: DMSans-tp;
  src: url(../fonts/DMSans-VariableFont.ttf);
  font-weight: 500;
}

@font-face {
  font-family: DMSans-tp;
  src: url(../fonts/DMSans-VariableFont.ttf);
  font-weight: 700;
}

@font-face {
  font-family: DMSans-Italic-tp;
  src: url(../fonts/DMSans-Italic-VariableFont.ttf);
  font-weight: 500;
}

.section {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .section {
    padding: 82px 0;
  }
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
