.yachts-box {
  position: relative;
}
.yachts-top-box {
  position: relative;
}
.circle1,
.circle2 {
  position: absolute;
  top: 0;
  background: #91afba;
  filter: blur(100px);
  border-radius: 50%;
  z-index: 1;
}
.circle1 {
  left: 0;
  width: 414px;
  height: 414px;
  opacity: 0.6;
  transform: translate(55%, -20%);
}
.circle2 {
  right: 0;
  opacity: 0.3;
  width: 316px;
  height: 316px;
  transform: translate(-100%, -20%);
}
.yacht-title-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 164px;
}
.yacht-title-box h2 {
  font-family: DM Sans;
  font-size: 100px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -4.5px;
  word-wrap: break-word;
  margin-bottom: 64px;
  z-index: 5;
}
.yacht-title-box a {
  all: unset;
  width: 153px;
  padding: 14px 28px;
  border: 1px solid #f6f5ef;
  border-radius: 60px;
  background-color: transparent;
  color: #f6f5ef;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.81px;
  text-align: center;
}
.vectors {
  position: absolute;
  top: 0;
  left: 0;
  /* stroke: #f6f5ef;
  stroke-width: 1.5; */
  transform: rotate(7.506deg);
  z-index: 10;
}
.yacht-gallery .swiper {
  width: 85%;
}
.yacht-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  width: 354px;
  height: 508px;
  padding: 16px 16px 32px;
  border: 1px solid #000;
  border-radius: 8%;
  background: rgba(31, 33, 45, 0.5);
}

.yacht-card > img {
  display: block;
  width: 100%;
  border-radius: 26px;
  overflow: hidden;
}
.title-yacht {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.yacht-name {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  width: 177px;
  height: 19px;
  overflow: hidden;
}
.yacht-class {
  opacity: 0.5;
}
.yachts-box > table {
  width: 178px;
}
