/* .yacht-gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
} */
.yacht-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  width: 354px;
  height: 508px;
  padding: 16px 16px 32px;
  border: 1px solid #000;
  border-radius: 8%;
  background: rgba(31, 33, 45, 0.5);
}

.yacht-card > img {
  display: block;
  width: 100%;
  border-radius: 26px;
  overflow: hidden;
}
.title-yacht {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.yacht-name {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  width: 177px;
  height: 19px;
  overflow: hidden;
}
.yacht-class {
  opacity: 0.5;
}
.yachts-box > table {
  width: 178px;
}
